* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url('./matt.jpg');
  background-size: cover;
  overflow-x: hidden;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, rgb(22, 0, 0) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(223, 31, 31) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(4, 0, 22) 0, transparent 50%); */
}

